.logo__img {
  display: inline-block;
  vertical-align: middle;
  width: 236px;
}
.logo {
  display: inline-block;
  vertical-align: baseline;
  width: 236px;
}
@media (max-width: 500px) {
  .logo-img {
    width: 176px;
  }
  .logo {
    width: 176px
  }
}