.what-is {
  text-align: center;
  padding-bottom: 143px;
}

.what-is__title {
  color: $title-color;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 21px;
}
.what-is__text {
  max-width: 827px;
  color: $text-color;
  margin: 0 auto 28px;
  font-size: 20px;
line-height: 32px;
}

.ol-list__item {
  display: flex;
  text-align: left;
  align-items: center;
  flex-direction: row;
  margin-bottom: 64px;
  &:nth-child(2n) {
    flex-direction: row-reverse;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &::after {
    content: "";
    width: 412px;
    height: 272px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    flex-shrink: 0;
  }
  &:nth-child(1)::after {
    background-image: url("../img/tracking-bg.png");
  }
  &:nth-child(2)::after {
    background-image: url("../img/optimization-bg.png");
  }
  &:nth-child(3)::after {
    background-image: url("../img/realtime-bg.png");
  }
}
.ol-list__info {
  max-width: 550px;
}
.ol-list__title {
  font-size: 18px;
  line-height: 24px;
  color: $title-color;
  margin-bottom: 19px;
}
.ol-list__text {
  font-size: 16px;
  line-height: 24px;
  color: $text-color;
}
@media (max-width: 800px) {
  .what-is {
  padding-bottom: 63px;
}
  .ol-list__item {
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 44px;
    &:nth-child(2n) {
      flex-direction: column-reverse;
    }
    &::after {
      margin-bottom: 20px;
      width: 100%;
      min-height: 100%;
    }
  }
  .ol-list__info {
    max-width: 100%;
  }
  .what-is__title {
  color: $title-color;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 11px;
}
.what-is__text {
  max-width: 100%;
  margin-bottom: 18px;
  font-size: 18px;
line-height: 20px;
}
.ol-list__title {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.ol-list__text {
  font-size: 14px;
  line-height: 18px;
  color: $text-color;
}
}
